body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background-color: rgb(44, 43, 43);
    color: aliceblue;
    font-family: 'Orbitron', sans-serif;
}

.right {
    width: 1800px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    order: 2;
    gap:38px;
    
}

.fdiv {
    background-color: rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    width: 850px;
    padding: 20px;
    height: auto;
    border: #ccc dashed;
}

.fdiv h2 {
    margin: 0;
    padding-bottom: 15px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px;
    width: 100%;
}

.moon {
    width: 875px;
    height: 950px;
}

.left {
    background-image: url(nasa-pd4lo70LdbI-unsplash.jpg);
    width: 1800px;
    height: 934px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 1;
}

.top {
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-group {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    margin-bottom: 16px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.first {
    display: flex;
    gap: 50px;
}

.second {
    display: flex;
    gap: 50px;
}

.third {
    display: flex;
    gap: 50px;
}

button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: rgb(0, 50, 160);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color:rgb(0, 39, 124);
}

.fdiv p {
    margin-top: 10px;
    text-align: center;
}

.fdiv p a {
    color: #007BFF;
    text-decoration: none;
}

.fdiv p a:hover {
    text-decoration: underline;
}

p, input, label, button {
    font-family: 'Roboto', sans-serif; /* Clean and modern for body text */
}
